            <h1 class="mt-4">Procceed</h1>
            <h2 class="lead mb-3">Welcome <%= user.name %></h2>
            <a href="/users/logout" class="btn btn-danger">Logout</a>
            <a href="https://reniastalent.github.io/Logistics-Rnt-Gadgets/" class="btn btn-primary">procceed</a>